html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#mainImg {
    position: relative;
    width: 1000px;
    height: 500px;
}

#bwdBtn {
    position: absolute;
    top: 210px;
    left: 20px;
    width: 100px;
    height: 100px;
}

#fwdBtn {
    position: absolute;
    top: 210px;
    right: 20px;
    width: 100px;
    height: 100px;
}

.img {
    object-fit: cover;
    width: 1000px;
    height: 500px;
    display: none;
}

.appear {
    display: block;
    animation: fade-in 1.5s;
    animation-fill-mode: forwards;
}

.disappear {
    display: none;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }